[Unit]
Description=Farm Monitor Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/volumio/FarmMonitorDaemon/
ExecStart=/usr/local/bin/python3.6 /home/volumio/FarmMonitorDaemon/src/main.py

[Install]
WantedBy=multi-user.target
