[Unit]
Description=Farm Monitor Service
After=multi-user.target redis.service

[Service]
Type=idle
ExecStart=/home/pi/Projects/FarmMonitorDaemon/farmMonitor

[Install]
WantedBy=multi-user.target
